version: '2'
services:
  api:
    build: .
    ports:
      - "8765:8765"
    environment:
      LEADS_SERVER_HOST: "0.0.0.0"
      #LEADS_SERVER_HOST: localhost
      LEADS_SERVER_PORT: 8765
    volumes:
      - .:/go/src/github.com/therealplato/namely-leads
    command: ["npm", "start"]
    network_mode: host
