extends layout
block append content
  h2 All Profiles
  div#allprofiles(ng-controller="allProfilesController")
    md-list
      md-list-item(
        md-3-line
        ng-repeat="profile in profiles"
        ng-include="'/partials/profile'"
      )
