extends layout
block append content
  p Welcome to Namely Leads! Advertise your company's services and connect with other companies.
  if(locals.user)
    a(href="/myprofile") My Profile
    a(href="/profiles") View All Profiles
  else
    p Login to list and view companies.
